.stash-app-container {
	padding-top: 10px;
	width: 600px;
}

.tab-content.extension {
	padding-top: 10px;
}

.reviewers-list .badge {
	background-color: #5cb85c;
}

.reviewers-list .list-group-item.active {
	background-color: #d9534f;
	border-color: #d43f3a;
}

.reviewers-list .list-group-item.active > .badge {
	color: #d9534f;
}

.stash-app-container .panel-title {
	position: relative;
	padding-right: 35px;
}

.stash-app-container .number-approval {
	position: absolute;
	right: 0;
	top: calc(50% - 8px);
}
