temp
.tmp
package

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

### Bower ###
app/bower_components


### Linux ###
.DS_Store
!.gitignore
!.git*
!.editorconfig
!.jshintrc
!.npmignore
!.travis.yml
*~


### SASS ###
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache


### Yeoman ###
test/bower_components


